.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  gap: 200px;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 24px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 70px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 90px;
}

.hero-latest-btn {
  background-color: #ff4141;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 200px;
  height: 35px;
  color: white;
  border-radius: 35px;
  margin-top: 50px;
  padding: 10px;
}

.hero-right {
  display: flex;
}

.hero-right:hover img {
  transform: scale(1.05);
  transition: 0.5s ease;
}

@media (max-width: 1280px) {
  .hero {
    gap: 100px;
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 120px;
    line-height: 1.1;
  }
}

@media (max-width: 1024px) {
  .hero {
    align-items: center;
    gap: 70px;
    height: 100vh;
  }
  .hero-left {
    padding-left: 80px;
  }

  .hero-left h2 {
    font-size: 20px;
  }
  .hero-hand-icon p {
    font-size: 50px;
  }
  .hero-hand-icon img {
    width: 70px;
  }
  .hero-left div p {
    font-size: 50px;
  }

  .hero-latest-btn {
    margin-top: 30px;
  }
  .hero-right img {
    height: 520px;
  }
}

@media (max-width: 800px) {
  .hero {
    align-items: center;
    height: 75vh;
  }
  .hero-left {
    padding-left: 50px;
  }

  .hero-left h2 {
    font-size: 18px;
  }
  .hero-hand-icon p {
    font-size: 40px;
  }
  .hero-hand-icon img {
    width: 60px;
  }
  .hero-left div p {
    font-size: 50px;
  }

  .hero-latest-btn {
    /* gap: 5px; */
    width: 170px;
    height: 30px;

    border-radius: 35px;
    margin-top: 30px;
    padding: 8px;
  }
  .hero-latest-btn img {
    width: 20px;
  }

  .hero-right img {
    height: 450px;
  }
}

@media (max-width: 500px) {
  .hero {
    align-items: center;
    height: 70vh;
  }
  .hero-left {
    padding-left: 50px;
  }

  .hero-left h2 {
    font-size: 22px;
  }
  .hero-hand-icon p {
    font-size: 40px;
  }
  .hero-hand-icon img {
    width: 60px;
  }
  .hero-left div p {
    font-size: 44px;
  }

  .hero-latest-btn {
    /* gap: 5px; */
    width: 170px;
    height: 30px;

    border-radius: 35px;
    margin-top: 30px;
    padding: 8px;
  }
  .hero-latest-btn img {
    width: 20px;
  }

  .hero-right {
    display: none;
  }
}
