.sidebar {
  /* border:1px solid black; */
  width: 18%;
  height: 76.5vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  margin-top: 1px;
}
.sidebar-nav {
  background-color: rgb(118, 238, 238);
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}

.sidebar-nav i {
  font-size: 25px;
  color: rgb(112, 77, 31);
}
