.add-product {
  margin: 20px;
  background-color: white;
  width: 60%;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.add-product-title-field p {
  font-size: 19px;
  margin-bottom: 15px;
}

.add-product-title-field input {
  padding-left: 20px;
  color: rgb(73, 69, 69);
}
input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgb(202, 199, 199);
}

.price-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.price-section {
  width: 100%;
}

.price {
  /* border: 1px solid rgb(202, 199, 199); */
  width: 100%;
}
.price p {
  font-size: 19px;

  margin-bottom: 15px;
}
.offer-price p {
  font-size: 19px;

  margin-bottom: 15px;
}
.price input {
  padding-left: 20px;
}
.offer-price input {
  padding-left: 20px;
}
.offer-price {
  /* border: 1px solid rgb(202, 199, 199); */
  width: 100%;
}

.product-category p {
  font-size: 19px;
  margin-bottom: 15px;
}
#categories {
  width: 100px;
  height: 40px;
  font-size: 19px;
  outline: none;
  border-radius: 5px;
}

/* .upload_img i {
  font-size: 50px;
  border: 1px solid rgb(168, 146, 146);
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(209, 207, 203);
} */

.upload_img input {
  border: none;
  margin-top: 20px;
  /* font-size: 50px;
  border: 1px solid rgb(168, 146, 146);
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(209, 207, 203); */
}
.add-product-btn button {
  padding: 10px 40px;
  font-size: 15px;
  background-color: rgb(96, 59, 230);
  color: white;
  border: none;
  border-radius: 5px;
}
