.cartitems {
  margin: 100px auto;
  width: 85%;
}

.listproduct {
  margin: 10px 10px 0px 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.listproduct h1 {
  margin-bottom: 10px;
}
.listproduct hr {
  height: 1px;
  margin: 5px 0px;
}
.cartitems-format-manu {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 20px;
}

.cartitems hr {
  margin-bottom: 10px;
  height: 1px;
  background-color: #fffbfb;
}
.productlists {
  height: 60vh;
  overflow-y: scroll;
}
.listproduct-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 10px;
  align-items: center;
}
.product-image img {
  height: 70px;
}

.product-quantity {
  width: 50px;
  height: 50px;
}

.cartitems-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 200px; */
  column-gap: 150px;
  margin: 100px 0px;
}

.cartitems-totals h2 {
  margin-bottom: 20px;
}

.subtotal,
.shipping-fee,
.total-price {
  display: flex;
  justify-content: space-between;
}

.total-price p {
  font-weight: 600;
}

.cartitem-total-section {
  margin-bottom: 20px;
}

.proceed-to-checkout {
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
  border: none;
  font-weight: 600;
  /* font-size: 14px; */
}

.cartitem-total-section hr {
  height: 1px;
  margin: 5px 0px;
}

.submitpromocode {
  display: flex;
  border: 1px solid #e7e3e3;
  width: 400px;
  height: 40px;
  margin-top: 20px;
}

.submitpromocode input {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
  background-color: #bbbaba;
  font-size: 14px;
}

.submitpromocode button {
  background-color: black;
  color: white;
  width: 120px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cartitems-format ion-icon {
  font-size: 25px;
}
@media (max-width: 1024px) {
  .cartitems-format-manu {
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .cartitems-format {
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .product-image img {
    height: 70px;
  }
  .cartitems-down {
    display: flex;
    /* flex-direction: column; */
    gap: 50px;
    justify-content: center;
  }
  .cartitems-totals {
    width: 100%;
  }
  .submitpromocode {
    width: 300px;
    margin-top: 10px;
  }

  .product-image img {
    height: 65px;
  }
  .product-quantity {
    width: 40px;
    height: 40px;
  }
  .proceed-to-checkout {
    height: 40px;
  }
  .cartitems hr {
    margin-top: -10px;
    margin-bottom: 5px;
  }
  .cartitem-total-section hr {
    margin: 5px 0px;
  }
  .cartitems-promocode {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .cartitems-format-manu {
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .cartitems-format {
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
  .product-image img {
    height: 60px;
  }
  .cartitems-down {
    display: flex;
    /* flex-direction: column; */
    gap: 50px;
    justify-content: center;
  }
  .cartitems-totals {
    width: 100%;
  }
  .submitpromocode {
    width: 300px;
    margin-top: 10px;
  }

  .product-image img {
    height: 50px;
  }
  .product-quantity {
    width: 35px;
    height: 35px;
  }
  .proceed-to-checkout {
    height: 40px;
  }
}

@media (max-width: 500px) {
  .cartitems-format-manu {
    display: none;
  }
  /* .cartitems hr {
        display: none;
      } */

  .cartitems-format {
    grid-template-columns: 0.5fr 2fr 0.1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
  .cartitems-down {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .submitpromocode {
    width: 300px;
    margin-top: 10px;
  }
  .product-name {
    font-size: 14px;
  }
  .product-new-price,
  .product-total-price {
    font-size: 14px;
  }
  .product-image img {
    height: 50px;
  }
  .product-quantity {
    width: 40px;
    height: 40px;
  }
}
